<div class="contenedor">
  <div id="buttons" class="row p-2 col-12">
    <button #iniciar id="iniciar" mat-raised-button color="warn" class="position-absolute top-50 start-50 translate-middle" *ngIf="this.state==0" (click)="startCall()">Solicitar Asistencia</button>
    <button #enCurso id="enCurso" mat-raised-button color="warn" class="m-2" *ngIf="this.state==1" (click)="cancelCall()">Cancelar LLamada</button>
    <button #colgar id="colgar" mat-raised-button color="warn" class="m-2" *ngIf="this.state==2" (click)="endCall()">Terminar Llamada</button>
  </div>
  <div class="row">
    <div class="col text-center">
      <div *ngIf="this.state>0" id="video-wrapper">
        <div *ngIf="this.state==1" id="div" class='phone'>
          <span class="material-icons">
            call
          </span>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <video #remoteVideo id="remote-video" autoplay playsinline></video>
        <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="peerToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              No se ha podido podido establecer conexión con los servidores stun
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="windowToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              Ha ocurrido un error al cambiar de ventana
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="streamToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              Ha ocurrido un error al conectarse por videollamada
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="endCallToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              Ha ocurrido un error al terminar la videollamada
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="postToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              No hay conexión con la base de datos
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="callToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
              A ocurrido un error al hacer la videollamada
            </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>
</div>
